.card-db-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.search-bar {
  width: 300px;
  height: 30px;
  font-family: "Gwent";
}
.filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
select {
  width: 150px;
  appearance: none; /* Remove default arrow (modern browsers) */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #222; /* base background */
  color: white;
  padding: 8px 12px;
  border: 1px solid #555;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Gwent";
  cursor: pointer;
}
select option {
  font-family: "Gwent";
}

.card-grid {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  height: 500px;
  overflow-y: auto;
}
img {
  width: 120px;
  height: auto;
  border-radius: 6px;
}

.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.zoom-image {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Responsive */
@media (max-width: 380px) {
  .card-grid {
    img {
      width: 100px;
      height: auto;
      border-radius: 6px;
    }
  }
}
