.card-db-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.search-bar {
  width: 300px;
  height: 30px;
  font-family: "Gwent";
}
.filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.faction-dropdown,
.sort-dropdown {
  width: 150px;
  appearance: none; /* Remove default arrow (modern browsers) */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #222; /* base background */
  color: white;
  padding: 8px 12px;
  border: 1px solid #555;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Gwent";
  cursor: pointer;
}
select option {
  font-family: "Gwent";
}

.card-grid {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
img {
  width: 120px;
  height: auto;
  border-radius: 6px;
}
.card-item {
  height: 190px;
}
.card-item:hover::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  z-index: 10;
}

/* Zoom fullscreen on hover */
.card-item:hover img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75vw; /* card size scaled to screen height */
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.zoom-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}

.zoom-image {
  width: 75vw;
  height: auto;
  transition: transform 0.25s ease;
}

.zoom-image:hover {
  transform: scale(1.02);
}
