.leader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.monsters {
  color: #9b1c0e;
}
.northern-realms {
  color: #1d4ed8;
}
.nilfgaard {
  color: #ffffff;
}*/
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.leader-carousel {
  display: flex;

  align-items: center;
}

.arrow {
  width: 60px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.arrow:active {
  transform: scale(0.9);
}
.leader-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-image {
  width: 180px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.leader-name {
  font-size: 28px;
  font-family: "Gwent";
  color: #fff;
  text-align: center;
}
.group-title {
  font-size: 22px;
  font-family: "Gwent";
  color: #d9d8cb;
  margin-top: 10px;
}
.cards-lists-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.cards-list {
  position: relative;
  width: 190px;
  height: 230px;
  cursor: pointer;
  transition: transform 0.5s ease; /* smooth X move */
  z-index: 1;
}

.cards-list > div {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, z-index 0.3s;
  transform-origin: top center;
  transform: translateX(calc(var(--i) * 20px));
}

.little-card-image {
  width: 150px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Spread cards when stack is open */
.cards-list > div.spread:nth-child(1) {
  transform: translate(-100px, 10px) rotate(-10deg);
  z-index: 1;
}
.cards-list > div.spread:nth-child(2) {
  transform: translate(40, 0) rotate(0deg);
  z-index: 2;
}
.cards-list > div.spread:nth-child(3) {
  transform: translate(140px, 10px) rotate(10deg);
  z-index: 3;
}

/* Card Styles */
.card {
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center;
  width: 110px;
  height: 60px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  font-family: "Gwent";
}

/* Rarity colors */
.common {
  background: #6e6e6e;
  border-color: #5e4929;
}
.rare {
  background: #1d4ed8;
  border-color: #5e4929;
}
.epic {
  background: #6d28d9;
  border-color: gold;
}
.legendary {
  background: #b45309;
  border-color: gold;
}

/* Responsive */
@media (max-width: 380px) {
  .card {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
}
