.leader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.monsters {
  color: #9b1c0e;
}
.northern-realms {
  color: #1d4ed8;
}
.nilfgaard {
  color: #ffffff;
}*/
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.leader-carousel {
  display: flex;

  align-items: center;
}

.arrow {
  width: 60px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.arrow:active {
  transform: scale(0.9);
}
.leader-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader-image {
  width: 180px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.leader-name {
  font-size: 28px;
  font-family: "Gwent";
  color: #fff;
  text-align: center;
}
.group-title {
  font-size: 22px;
  font-family: "Gwent";
  color: #d9d8cb;
  margin-top: 10px;
}
/* Cards Grid */
.cards-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.cards-list-recommended {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.little-card-image {
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Card Styles */
.card {
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center;
  width: 110px;
  height: 60px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  font-family: "Gwent";
}

/* Rarity colors */
.common {
  background: #6e6e6e;
  border-color: #5e4929;
}
.rare {
  background: #1d4ed8;
  border-color: #5e4929;
}
.epic {
  background: #6d28d9;
  border-color: gold;
}
.legendary {
  background: #b45309;
  border-color: gold;
}

/* Responsive */
@media (max-width: 380px) {
  .card {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
}
